<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">


<script>
var userName='{$name}';
var ruler='{$ruler}';


</script>

<!--  引入extjs库-->
<link rel="stylesheet" type="text/css"
	href="/jrrc_web_php/public/Extjs/theme-triton/resources/theme-triton-all.css" />
<script type="text/javascript"
	src="/jrrc_web_php/public/Extjs/ext.js"></script>
<script type="text/javascript"
	src="/jrrc_web_php/public/Extjs/ext-all.js"></script>
<!-- 加载EXTjs中文配置文件 -->
<script type="text/javascript"
	src="/jrrc_web_php/public/Extjs/locale/locale-zh_CN-debug.js"></script>
	<script type="text/javascript"
	src="/jrrc_web_php/public/static/js/main/main.js"></script>
<title>欢迎使用国际业务信息查询系统--主功能</title>
</head>
<body>

</body>
</html>
